
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <main role="main" class="inner cover">
            <h1 class="cover-heading">Client barcode</h1>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">userid</span>
  <input type="text" class="form-control" placeholder="don't forget to click me! :)" aria-label="Username" aria-describedby="basic-addon1">
</div>
<hr>
<hr>
            <h1 class="cover-heading">Name entry {{title}}</h1>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">client_name</span>
  <input type="text" class="form-control" placeholder="Enter name" aria-label="Username" aria-describedby="basic-addon1">
</div>	    

<hr>

<div class="alert alert-success" role="alert">
  [client_name] Good to go!
</div>
<div class="alert alert-warning" role="alert">
  Conversation needed: [condition]
</div>
<div class="alert alert-danger" role="alert">
  Unpaid account
</div>
<div class="alert alert-danger" role="alert">
  <strong>CODE RED</strong>
</div>
<div class="alert alert-primary" role="alert">
  Fitness client
</div>
<div class="alert alert-secondary" role="alert">
  Reminder: this customer's birthday is today!
</div>

<div class="alert alert-info" role="alert">
  Promotion upcoming or something!
</div>
<div class="alert alert-light" role="alert">
  Free membership
</div>
<div class="alert alert-dark" role="alert">
  Client is vampire
</div>

        </div>
      </div>

    </div>
