
      <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h2 class="display-4">Status</h2>
	  <div class="row">
	    <div class="col-md-4">
	      <p><b>Implemented</b></p>
              <p>1. basic admin template</p>
              <p>2. navbar</p>	  
	    </div>
	    <div class="col-md-4">
	      <p><b>In-progress</b></p>
	      <p>1. database<p>
	      <p>2. login</p>
	    </div>
          </div>
	</div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Check-in</h2>
            <p>Leave the browser in full-screen mode please!</p>
            <p><a class="btn btn-secondary" href="/checkin" role="button">Check-in &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Members</h2>
            <p>Stay current on member outreach</p>
            <p><a class="btn btn-secondary" href="/members" role="button">Members &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Employees</h2>
            <p>Clock-in/out, view hours</p>
            <p><a class="btn btn-secondary" href="#" role="button">Employees &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </main>
