
      <main role="main">
      <div class="jumbotron">
        <div class="container">
	  <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Feedback</h4>
  <p>This app is in active development and feedback is greatly appreciated.</p>
  <hr>
  <p class="mb-0">I will follow up either in person or through this client.</p>
  <p class="mb-0">mail: <a href="mailto:admin@peak.ninja?Subject=Everything%20is%20broken!" target="_top">admin@peak.ninja</a></p>
  <p class="mb-0">cell: 612.666.5555</p>  

	  </div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> Let's write feedback!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>	  
	  <hr>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>
<br>
<label for="basic-url">Your vanity URL</label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">https://oss.peak.ninja/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <span class="input-group-addon">0.00</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
</div>	  

        <hr>
	
      </div> <!-- /container -->
    </main>
</div>
